/*
 * ModMappings API
 * This is the api for ModMappings. It is currently in development and in an alpha stage.
 *
 * The version of the OpenAPI document: 0.0.0-Dev
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.modmappings.webapi.api;

import org.modmappings.webapi.invoker.ApiCallback;
import org.modmappings.webapi.invoker.ApiClient;
import org.modmappings.webapi.invoker.ApiException;
import org.modmappings.webapi.invoker.ApiResponse;
import org.modmappings.webapi.invoker.Configuration;
import org.modmappings.webapi.invoker.Pair;
import org.modmappings.webapi.invoker.ProgressRequestBody;
import org.modmappings.webapi.invoker.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.modmappings.webapi.model.GameVersion;
import org.modmappings.webapi.model.PageGameVersion;
import java.util.UUID;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class GameVersionsApi {
    private ApiClient localVarApiClient;

    public GameVersionsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public GameVersionsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getGameVersionById
     * @param id The id of the game version to look up. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Indicates that no game version with the given id could be found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Returns the game version with the given id. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getGameVersionByIdCall(UUID id, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/versions/{id}"
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getGameVersionByIdValidateBeforeCall(UUID id, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getGameVersionById(Async)");
        }
        

        okhttp3.Call localVarCall = getGameVersionByIdCall(id, _callback);
        return localVarCall;

    }

    /**
     * Looks up a game version using a given id.
     * 
     * @param id The id of the game version to look up. (required)
     * @return GameVersion
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Indicates that no game version with the given id could be found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Returns the game version with the given id. </td><td>  -  </td></tr>
     </table>
     */
    public GameVersion getGameVersionById(UUID id) throws ApiException {
        ApiResponse<GameVersion> localVarResp = getGameVersionByIdWithHttpInfo(id);
        return localVarResp.getData();
    }

    /**
     * Looks up a game version using a given id.
     * 
     * @param id The id of the game version to look up. (required)
     * @return ApiResponse&lt;GameVersion&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Indicates that no game version with the given id could be found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Returns the game version with the given id. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<GameVersion> getGameVersionByIdWithHttpInfo(UUID id) throws ApiException {
        okhttp3.Call localVarCall = getGameVersionByIdValidateBeforeCall(id, null);
        Type localVarReturnType = new TypeToken<GameVersion>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Looks up a game version using a given id. (asynchronously)
     * 
     * @param id The id of the game version to look up. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Indicates that no game version with the given id could be found </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Returns the game version with the given id. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getGameVersionByIdAsync(UUID id, final ApiCallback<GameVersion> _callback) throws ApiException {

        okhttp3.Call localVarCall = getGameVersionByIdValidateBeforeCall(id, _callback);
        Type localVarReturnType = new TypeToken<GameVersion>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getGameVersionsBySearchCriteria
     * @param name The regular expression to match the name of the version against. (optional)
     * @param preRelease Indicator if filtering on pre-releases is needed or not. Leave the parameter out if you do not care for filtering on pre-releases or not. (optional)
     * @param snapshot Indicator if filtering on snapshots is needed or not. Leave the parameter out if you do not care for filtering on snapshots or not. (optional)
     * @param page Zero-based page index (0..N) (optional)
     * @param size The size of the page to be returned (optional)
     * @param sort Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns all game versions in the database, that match the search criteria. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Indicates that no game version exists in the database. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getGameVersionsBySearchCriteriaCall(String name, Boolean preRelease, Boolean snapshot, Integer page, Integer size, List<String> sort, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/versions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (name != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("name", name));
        }

        if (preRelease != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("preRelease", preRelease));
        }

        if (snapshot != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("snapshot", snapshot));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        if (sort != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "sort", sort));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getGameVersionsBySearchCriteriaValidateBeforeCall(String name, Boolean preRelease, Boolean snapshot, Integer page, Integer size, List<String> sort, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getGameVersionsBySearchCriteriaCall(name, preRelease, snapshot, page, size, sort, _callback);
        return localVarCall;

    }

    /**
     * Gets all known game versions and finds the ones that match the given parameters.
     * 
     * @param name The regular expression to match the name of the version against. (optional)
     * @param preRelease Indicator if filtering on pre-releases is needed or not. Leave the parameter out if you do not care for filtering on pre-releases or not. (optional)
     * @param snapshot Indicator if filtering on snapshots is needed or not. Leave the parameter out if you do not care for filtering on snapshots or not. (optional)
     * @param page Zero-based page index (0..N) (optional)
     * @param size The size of the page to be returned (optional)
     * @param sort Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @return PageGameVersion
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns all game versions in the database, that match the search criteria. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Indicates that no game version exists in the database. </td><td>  -  </td></tr>
     </table>
     */
    public PageGameVersion getGameVersionsBySearchCriteria(String name, Boolean preRelease, Boolean snapshot, Integer page, Integer size, List<String> sort) throws ApiException {
        ApiResponse<PageGameVersion> localVarResp = getGameVersionsBySearchCriteriaWithHttpInfo(name, preRelease, snapshot, page, size, sort);
        return localVarResp.getData();
    }

    /**
     * Gets all known game versions and finds the ones that match the given parameters.
     * 
     * @param name The regular expression to match the name of the version against. (optional)
     * @param preRelease Indicator if filtering on pre-releases is needed or not. Leave the parameter out if you do not care for filtering on pre-releases or not. (optional)
     * @param snapshot Indicator if filtering on snapshots is needed or not. Leave the parameter out if you do not care for filtering on snapshots or not. (optional)
     * @param page Zero-based page index (0..N) (optional)
     * @param size The size of the page to be returned (optional)
     * @param sort Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @return ApiResponse&lt;PageGameVersion&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns all game versions in the database, that match the search criteria. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Indicates that no game version exists in the database. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PageGameVersion> getGameVersionsBySearchCriteriaWithHttpInfo(String name, Boolean preRelease, Boolean snapshot, Integer page, Integer size, List<String> sort) throws ApiException {
        okhttp3.Call localVarCall = getGameVersionsBySearchCriteriaValidateBeforeCall(name, preRelease, snapshot, page, size, sort, null);
        Type localVarReturnType = new TypeToken<PageGameVersion>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Gets all known game versions and finds the ones that match the given parameters. (asynchronously)
     * 
     * @param name The regular expression to match the name of the version against. (optional)
     * @param preRelease Indicator if filtering on pre-releases is needed or not. Leave the parameter out if you do not care for filtering on pre-releases or not. (optional)
     * @param snapshot Indicator if filtering on snapshots is needed or not. Leave the parameter out if you do not care for filtering on snapshots or not. (optional)
     * @param page Zero-based page index (0..N) (optional)
     * @param size The size of the page to be returned (optional)
     * @param sort Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns all game versions in the database, that match the search criteria. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Indicates that no game version exists in the database. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getGameVersionsBySearchCriteriaAsync(String name, Boolean preRelease, Boolean snapshot, Integer page, Integer size, List<String> sort, final ApiCallback<PageGameVersion> _callback) throws ApiException {

        okhttp3.Call localVarCall = getGameVersionsBySearchCriteriaValidateBeforeCall(name, preRelease, snapshot, page, size, sort, _callback);
        Type localVarReturnType = new TypeToken<PageGameVersion>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
