/*
 * ModMappings API
 * This is the api for ModMappings. It is currently in development and in an alpha stage.
 *
 * The version of the OpenAPI document: 0.0.0-Dev
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.modmappings.webapi.api;

import org.modmappings.webapi.invoker.ApiCallback;
import org.modmappings.webapi.invoker.ApiClient;
import org.modmappings.webapi.invoker.ApiException;
import org.modmappings.webapi.invoker.ApiResponse;
import org.modmappings.webapi.invoker.Configuration;
import org.modmappings.webapi.invoker.Pair;
import org.modmappings.webapi.invoker.ProgressRequestBody;
import org.modmappings.webapi.invoker.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.modmappings.webapi.model.Mappable;
import org.modmappings.webapi.model.MappableType;
import org.modmappings.webapi.model.PageMappable;
import java.util.UUID;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class MappablesApi {
    private ApiClient localVarApiClient;

    public MappablesApi() {
        this(Configuration.getDefaultApiClient());
    }

    public MappablesApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for getMappableById
     * @param id The id of the mappable to look up. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns the mappable with the given id. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Indicates that no mappable with the given id could be found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getMappableByIdCall(UUID id, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/mappables/{id}"
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getMappableByIdValidateBeforeCall(UUID id, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getMappableById(Async)");
        }
        

        okhttp3.Call localVarCall = getMappableByIdCall(id, _callback);
        return localVarCall;

    }

    /**
     * Looks up a mappable using a given id.
     * 
     * @param id The id of the mappable to look up. (required)
     * @return Mappable
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns the mappable with the given id. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Indicates that no mappable with the given id could be found </td><td>  -  </td></tr>
     </table>
     */
    public Mappable getMappableById(UUID id) throws ApiException {
        ApiResponse<Mappable> localVarResp = getMappableByIdWithHttpInfo(id);
        return localVarResp.getData();
    }

    /**
     * Looks up a mappable using a given id.
     * 
     * @param id The id of the mappable to look up. (required)
     * @return ApiResponse&lt;Mappable&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns the mappable with the given id. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Indicates that no mappable with the given id could be found </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Mappable> getMappableByIdWithHttpInfo(UUID id) throws ApiException {
        okhttp3.Call localVarCall = getMappableByIdValidateBeforeCall(id, null);
        Type localVarReturnType = new TypeToken<Mappable>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Looks up a mappable using a given id. (asynchronously)
     * 
     * @param id The id of the mappable to look up. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Returns the mappable with the given id. </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> Indicates that no mappable with the given id could be found </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getMappableByIdAsync(UUID id, final ApiCallback<Mappable> _callback) throws ApiException {

        okhttp3.Call localVarCall = getMappableByIdValidateBeforeCall(id, _callback);
        Type localVarReturnType = new TypeToken<Mappable>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getMappablesBySearchCriteria
     * @param type An optional type to limit the lookup of mappables to. (optional)
     * @param page Zero-based page index (0..N) (optional)
     * @param size The size of the page to be returned (optional)
     * @param sort Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Indicates that no mappable exists in the database. </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Returns all mappables in the database. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getMappablesBySearchCriteriaCall(MappableType type, Integer page, Integer size, List<String> sort, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/mappables";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (size != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("size", size));
        }

        if (sort != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "sort", sort));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] {  };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getMappablesBySearchCriteriaValidateBeforeCall(MappableType type, Integer page, Integer size, List<String> sort, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getMappablesBySearchCriteriaCall(type, page, size, sort, _callback);
        return localVarCall;

    }

    /**
     * Gets all known mappables that match the given parameters.
     * 
     * @param type An optional type to limit the lookup of mappables to. (optional)
     * @param page Zero-based page index (0..N) (optional)
     * @param size The size of the page to be returned (optional)
     * @param sort Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @return PageMappable
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Indicates that no mappable exists in the database. </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Returns all mappables in the database. </td><td>  -  </td></tr>
     </table>
     */
    public PageMappable getMappablesBySearchCriteria(MappableType type, Integer page, Integer size, List<String> sort) throws ApiException {
        ApiResponse<PageMappable> localVarResp = getMappablesBySearchCriteriaWithHttpInfo(type, page, size, sort);
        return localVarResp.getData();
    }

    /**
     * Gets all known mappables that match the given parameters.
     * 
     * @param type An optional type to limit the lookup of mappables to. (optional)
     * @param page Zero-based page index (0..N) (optional)
     * @param size The size of the page to be returned (optional)
     * @param sort Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @return ApiResponse&lt;PageMappable&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Indicates that no mappable exists in the database. </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Returns all mappables in the database. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PageMappable> getMappablesBySearchCriteriaWithHttpInfo(MappableType type, Integer page, Integer size, List<String> sort) throws ApiException {
        okhttp3.Call localVarCall = getMappablesBySearchCriteriaValidateBeforeCall(type, page, size, sort, null);
        Type localVarReturnType = new TypeToken<PageMappable>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Gets all known mappables that match the given parameters. (asynchronously)
     * 
     * @param type An optional type to limit the lookup of mappables to. (optional)
     * @param page Zero-based page index (0..N) (optional)
     * @param size The size of the page to be returned (optional)
     * @param sort Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 404 </td><td> Indicates that no mappable exists in the database. </td><td>  -  </td></tr>
        <tr><td> 200 </td><td> Returns all mappables in the database. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getMappablesBySearchCriteriaAsync(MappableType type, Integer page, Integer size, List<String> sort, final ApiCallback<PageMappable> _callback) throws ApiException {

        okhttp3.Call localVarCall = getMappablesBySearchCriteriaValidateBeforeCall(type, page, size, sort, _callback);
        Type localVarReturnType = new TypeToken<PageMappable>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
